<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shotFlow" class="com.saggezza.CannonGame.ShotFlow">

        <constructor-arg ref="iValidateInput"/>
        <constructor-arg ref="ishot"/>
        <constructor-arg ref="iroundedShot"/>
        <constructor-arg ref="ijudge"/>
        <constructor-arg ref="icounter"/>
    </bean>

    <bean id="target" class="com.saggezza.CannonGame.Target">
    </bean>
    <bean id="iValidateInput" class="com.saggezza.CannonGame.ValidateInput">
    </bean>

    <bean id="ishot" class="com.saggezza.CannonGame.Shot">
    </bean>
    <bean id="iroundedShot" class="com.saggezza.CannonGame.RoundingShotResult">
    </bean>
    <bean id="ijudge" class="com.saggezza.CannonGame.JudgeClass">
    </bean>
    <bean id="icounter" class="com.saggezza.CannonGame.Counter">
    </bean>
    <bean id="shotResult" class="com.saggezza.CannonGame.ShotResult">
    </bean>

    <bean id="roundFlow" class="com.saggezza.CannonGame.RoundFlow">
        <constructor-arg ref="target"/>
        <constructor-arg ref="shotFlow"/>
        <constructor-arg ref="icounter"/>

    </bean>
    <bean id="insertPlayerToLeaderBoard" class="com.saggezza.CannonGame.InsertPlayerToLeaderBoard">
    </bean>
    <bean id="retrieveTheHighScores" class="com.saggezza.CannonGame.RetrieveHighScores">
    </bean>
    <bean id="displayLeaderboard" class="com.saggezza.CannonGame.DisplayLeaderboard">
    </bean>

    <bean id="fiveRoundFlow" class="com.saggezza.CannonGame.FiveRoundFlow">
        <constructor-arg ref="roundFlow"/>
        <constructor-arg ref="target"/>
        <constructor-arg ref="icounter"/>
        <constructor-arg ref="insertPlayerToLeaderBoard"/>
        <constructor-arg ref="retrieveTheHighScores"/>
        <constructor-arg ref="displayLeaderboard"/>
    </bean>

</beans>